<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Your Travel Path
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="loading" padding class="spinnerCenter" [fullscreen]="true">
    <ion-spinner name="crescent"></ion-spinner>
</ion-content>

<ion-content *ngIf="!loading" [fullscreen]="true">

    <ion-grid *ngIf="!pathFound">
        <ion-row>
            <ion-col>
                Sorry, we couldn't find a path for you
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="pathFound">
        <ion-row>
            <ion-col>
                This is the shortest path from {{ this.countriesService.start.name }} to {{ this.countriesService.end.name }}.<br>
                Select a country to see more details!
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <span *ngFor="let country of this.startCountryWithPath.shortestPathToOtherCountry">
                <ion-button expand="full"
                            size="large"
                            color="light"
                            (click)="goToDetails(country.alpha2Code)">
                    {{ country.name }} {{ country.flag.emoji }}
                </ion-button>
                </span>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

