<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            The Traveler
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <form [formGroup]="countriesForm">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label class="depart-label">Where do you depart from?</ion-label>
                        <ion-select class="depart-select" formControlName="start">
                            <ion-select-option
                                    *ngFor="let country of this.countriesList"
                                    [value]="country">{{country.name}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label class="destination-label">What is your destination?</ion-label>
                        <ion-select class="destination-select" formControlName="end">
                            <ion-select-option
                                    *ngFor="let country of this.countriesList"
                                    [value]="country">{{country.name}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button class="submit" expand="block" (click)="onSubmit()">Search</ion-button>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="showMessage">
                <ion-col>
                    <ion-label class="error-message"><i>Please make a selection before clicking 'Search'</i></ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

</ion-content>
